<div class="menuContainer">
  <div class="menu-section">
    <div class="section-header">
      <div class="section-title-group">
        <span class="section-icon">{{icon}}</span>
        <h2 class="section-title">{{title}}</h2>
      </div>
    </div>

    <div class="dishes-grid">
      @for (dish of dishes; track $index) {
      <div class="dish-item">
        <div class="dish-header">
          <div class="dish-name">
            <p>{{ dish }}</p>

            @if ((meat_label !== undefined && fish_label !== undefined && title !== 'Dessert') ? !meat_label[$index] && !fish_label[$index] : false) {
              <span class="tag vegetarian">🌱</span>
            }
            @if (meat_label !== undefined ? meat_label[$index] : false) {
              <span class="tag meat">🍖</span>
            }
            @if (fish_label !== undefined ? fish_label[$index] : false) {
              <span class="tag fish">🐟</span>
            }
            
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>