@if(loading) {
  <div>Loading menu...</div>
}
@else {
<div>
  <h2>Menu Settimana {{ menu.week }}</h2>
</div>
  <div>
    <h3>Giorno {{ menu.day }}</h3>
    <p><strong>Primi Piatti:</strong> {{ menu.primi_piatti.join(', ') }}</p>
    <p><strong>Secondi Piatti:</strong> {{ menu.secondi_piatti.join(', ') }}</p>
    <p><strong>Piatto dello Chef:</strong> {{ menu.piatto_dello_chef }}</p>
    <p><strong>Contorni:</strong> {{ menu.contorni.join(', ') }}</p>
    <p><strong>Alternative Variabili:</strong> {{ menu.alternative_variabili.join(', ') }}</p>
  </div>
}
