<div>
  <div class="stars" appStars [starCount]="100"></div>
  <div class="container">

    <!--HEADER-->
    <header>
      <h1 id="title">MENSA SPAZIALE</h1>
      <div class="date-badge">
        📅 {{ italianDayName() }} - Settimana {{menuWeekNumber + 1 }}
      </div>
    </header>

    <!--BODY-->
    <div>
      @if(loading()) {
      <p style="text-align: center;">Caricamento menu in corso...</p>
      }
      @else if(error()) {
      <div>
        <p style="text-align: center;">Impossibile caricare il menu.</p>
        <p style="text-align: center;">Controlla la connessione ad internet e ricarica la pagina.</p>
      </div>
      }
      @else if (weekend()) {
      <div style="display: block; margin-left: auto; margin-right: auto;">
        <p style="text-align: center;">È tempo di godersi il weekend :)</p>
        <img style="display: block; margin-left: auto; margin-right: auto; max-width: 80%;" src="/data/moon.gif" />
      </div>
      }
      @else {
      <div id="container">

        <div id="courseContainer">
          <p id="courseTitle">Primi</p>
          <div id="dishesContainer">
            @for (dish of menu()?.primi_piatti; track dish) {
            <p>{{ dish }}</p>
            }
          </div>
        </div>

        <div id="courseContainer">
          <p id="courseTitle">Secondi</p>
          <div id="dishesContainer">
            @for (dish of menu()?.secondi_piatti; track dish) {
            <p>{{ dish }}</p>
            }
          </div>
        </div>

        <div id="courseContainer">
          <p id="courseTitle">Contorni</p>
          <div id="dishesContainer">
            @for (dish of menu()?.contorni; track dish) {
            <p>{{ dish }}</p>
            }
          </div>
        </div>

        <div id="courseContainer">
          <p id="courseTitle">Piatto dello Chef</p>
          <div id="dishesContainer">
            <p>{{ menu()?.piatto_dello_chef }}</p>
          </div>
        </div>

        <div id="courseContainer">
          <p id="courseTitle">Alternative Variabili</p>
          <div id="dishesContainer">
            @for (dish of menu()?.alternative_variabili; track dish) {
            <p>{{ dish }}</p>
            }
          </div>
        </div>

      </div>
      }
    </div>
    <div style="padding-top: 30px">
      <p id="disclaimer">Progetto indipendente, il menù è puramente indicativo.</p>
    </div>
  </div>

</div>