.menu-day {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

#container {
  background-color: #000000d4;
  padding: 0 1rem;
  align-items: center;
}

#courseContainer {
  display: flex;
  flex-direction: row;
}

#courseTitle {
  font-weight: bold;
  font-size: 1.3em;
  padding-right: 1.3em;
  text-align: left;
  width: 32%;
}

#dishesContainer {
  width: 68%;
}

#dayIndicator {
  padding-top: 30px;
  text-align: center;
}

#disclaimer {
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

:host {
    color: white;
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
}

#title {
    font-family: SuperFunky;
    font-size: 3ex;
    color: #fff;
    text-align: center;
 
}

@font-face {
  font-family: SuperFunky;
  src: url(/fonts/super-funky-font/SuperFunky-lgmWw.ttf) format('truetype');
}