body {
    color: white;
}

#title {
    font-family: SuperFunky;
    font-size: 4ex;
    color: #fff;
    text-align: center;
 
}

@font-face {
  font-family: SuperFunky;
  src: url(/fonts/super-funky-font/SuperFunky-lgmWw.ttf) format('truetype');
}